.scene{
  width: 100%;
  height: 66px;
  max-width: 450px;
  perspective: 20000px;
}

.cube {
  /*width: 100%;*/
  height: 66px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform .4s;
  display: grid;
  justify-items: center;
  align-items: center;
}

.cube.show-front  {
  transform: translateZ(-50px) rotateY(   0deg);
  display: grid;
  align-items: center;
}

.cube.show-top  { transform: translateZ(-50px) rotateX( -90deg); }

.cube__face {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 10px);
  padding: 5px 10px;
  font-size: 14px;
  color: gray;
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
}

.cube__face--front  { background: linear-gradient(to bottom right, #ffffff, #e8e8e82e); }
/*.cube__face--top    { background: #f443360d; }*/

.cube__face--front  { transform: rotateY(  0deg) translateZ(34px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(34px); }

label { margin-right: 10px; }
