
.fuente{
  font-family: 'Raleway', sans-serif;
}

.fuente2{
  font-family: 'Inconsolata', monospace;
}

@font-face {
  font-family: Museo;
  src: url('./MuseoSans_500.otf');
}

.fuenteMuseo {
  font-family: Museo;
}

.AuthComponent{
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  padding: 15px;
  background: linear-gradient(to bottom right, #014c7d, #0198ff);
  display: grid;
  align-items: center;
  justify-items:center;
}



/* Signup */

.actionerLicense{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.AuthInputLicense{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-column-gap: 10px;
  color: gray;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}

.AuthInputLicenseText{
  margin: 0;
  font-size: 14px;
}


/* The container */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 25px;
  height: 25px;
  margin: 0;
  transform: scale(.85);
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #dedede;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}








.AuthC{
  width: calc(100% - 30px);
  height: calc(100% - 50px);
  padding: 25px 15px;
  max-width: 510px;
  max-height: 430px;
  background: linear-gradient(to bottom right, #ffffff, #f9f9f9);
  border-radius: 10px;
  align-self: start;
  display: grid;
  grid-template-rows: 50px 1fr;
  -webkit-box-shadow: 4px 3px 25px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 25px -8px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 25px -8px rgba(0,0,0,0.75);
  grid-row-gap: 14px;
  justify-items:center;
}

.AuthContainer{
  display: grid;
  width: 100%;
  max-width: 600px;
  height: 100%;
  justify-items: center;
  grid-template-rows: 20vh 1fr 50px;
  grid-row-gap: 20px;
}

.logotype{
  display: flex;
  justify-self: center;
  align-items: center;
  height: 70px;
  align-self: flex-end;
}

.logotype h1{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  margin: 0 30px 0 0;
  font-weight: 600;
}


.footerText{
  display: grid;
  align-items: self-end;
}

.footerText p{
  margin: 0 !important;
  font-weight: normal;
  font-size: 12px;
  color: white;
  text-align: center;
}

.AuthTitle p{
  color: #0066aa;
  font-size: 18px;
  text-align: center;
  /*margin: 25px 0 0 0;*/
  margin: 0 ;
  align-self: end;
}

.AuthTitle{
  position: relative;
  display: grid;
  /*grid-template-rows: repeat(2, 1fr);*/
  grid-row-gap: 15px;
  width: 100%;
  max-width: 430px;
}

.AuthPanel{
  display: grid;
  /*grid-template-rows: 40% 1fr;*/
  grid-row-gap: 5px;
  height: 100%;
  align-items: center;
}

.AuthContT{
  position: relative;
  align-self: end;
  display: grid;
  justify-items: center;
}

.titleToggle{
  height: 200%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  transition: .3s;
  cursor:pointer;

}



.textTitleToggle{
  height: 30px;
  overflow: hidden;
  width: 100%;
}

.Authr{
  margin: 20px 0 0 0;
  /*border-color: azure;*/
  border-color: #f0ffff8a;

  max-width: 450px;
  width: 100%;
}

.AlertMsg p{
  font-size: 13px;
  color: #50667a;
  margin: 0 ;
}

.AlertMsg img{
  box-shadow: 1px 1px 3px #88888861;
}

.AlertMsg{
  display: grid;
  justify-items: center;
  align-items: center;
  height: 66px;
  align-self: center;
}

.AlertMsg b{
  color: #000000b5;
}

.AuthPanel>form{
  display: grid;
  justify-items: center;
  /*align-items: center;*/
  height: 160px;
}

.AuthPanel .containerInputComponent{
  height: 60px;
  max-width: 380px;
}

.AuthPanel .inputElement{
  padding: 0 10px 0 50px;
  width: calc(100% - 60px);
  font-size: 14px !important;
}

.AuthInput {
  position: relative;
  width: 100%;
  display: grid;
  justify-items: center;
  max-width: 380px;
}

.IconPrefix {
  position: absolute;
  align-self: center;
  left: 15px;
  z-index: 2;
  display: flex;
  align-items: center;
}

.AuthControls .InputButton, .AuthControls .botonForm{
  max-width: 380px;
  width: 100%;
  align-self:center;
}

.AuthControls .botonForm{
  padding: 18px 0;
}

.AuthControls{
  display: grid;
  grid-row-gap: 14px;
  justify-items:center;
}

.Authstatus{
  position: absolute;
  bottom: -12px;
  margin: 0;
  font-size: 14px;
  color: #50667a;
  cursor: pointer;
  opacity: 0;
  transition: .15s;
  justify-self: center;
}

.Authstatus.visibles{
  bottom: -17px;
  opacity: 1;
}




.Authstatus:hover{
  color:#b48728 !important;
}


.TextNav{
  text-align: center;
  font-size: 12px;
  margin: 0;
  align-self: center;
}

.Navigation{
  cursor: pointer;
}

.Navigation:hover{
  color:#b48728 !important;
}



.TextNav{
  color:#50667a;
  transition: .2s;
}

.inputContainer.bad{
  border: 1px solid red;
}

.inputContainer.bad input{
  color: red;
}

.inputContainer.good{
  border: 1px solid #00D2FF;
}

.inputContainer.good input{
  color: green;
}


.AuthNavTitle{
  position: relative;
  display: grid;
}

.iconContAuth{
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .15s;
  transform: scale(1);
}

.iconContAuth:hover{
  transform: scale(1.3);
}


.AuthControls span{
  display: grid;
}

.InputButtonCont{
  width: 100%;
  max-width: 380px;
  position: relative;
}

.InputButtonCont.loader .InputButton{
  opacity:.2;
}

.loadingAuth{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: grid;
  justify-items:center;
  align-items: center;
  transform: scale(.75);
}

.Auth2fa{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 35% 1fr;
  align-items: center;
  justify-items: center;
  grid-row-gap: 20px;
}

.contAuthReq{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 380px;
}

.contAuthReq input{
 font-size: 14px;
}

.contAuthReq p{
  text-align: center;
  margin-top: 10px !important;
  font-size: 16px !important;
}


.contAuthReq .labelText{
  margin-bottom: 25px !important;
}







/*COMPONENTE DE ANIMACIÓN DEL LAYER*/

.AuthSwitchComponent{
  width: 100%;
  height: 100%;
  /*transition: .3s;*/
  opacity: 0;
  align-items: center;
}


.AuthSwitchComponent.in{
  animation-name: authSwitchAnim;
  animation-duration: .15s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(1,1,1,1);
}


@keyframes authSwitchAnim{
  0%{
    opacity: 0;
    transform: translateY(5px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.AuthSwitchComponent.out{
  animation-name: authSwitchAnimOut;
  animation-duration: .15s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(1,1,1,1);
}


@keyframes authSwitchAnimOut{
  100%{
    opacity: 0;
    transform: translateY(-5px);
  }
  0%{
    opacity: 1;
    transform: translateY(0px);
  }
}




.SocialAuth p{
  font-size: 14px;
  height: 40px;
  display: grid;
  align-items: center;
  border-bottom: 1px solid #50667a61;
  margin: 0;
}

.SocialAuth .socialAuthButton{
  position: absolute;
  align-self: center;
  right: 0;
  cursor: pointer;
}

/*.SocialAuth svg{
  margin-left: 30px;
}*/



.SocialAuth{
  width: 100%;
  max-width: 380px;
  align-items: center;
  position: relative;
  z-index: -1;
}











/*Componente RecoveryAccountComponent*/

.formRecoveryAccount.reset_pass{
    grid-row-gap: 5px;
}

.actionSuccessIcon{
  width: 100%;
  height: 60px;
  display: grid;
  justify-items:center;
}

.successText{
  color: green;
}

.contIconRec.reset_pass{
    height: 10px !important;
}

.contIconRec.reset_pass svg{
    top: -6vh;
}

.contIconRec{
  width: 100%;
  height: 60px;
  position: relative;
  display: grid;
}

.contIconRec svg{
  position: absolute;
  justify-self:center;
  align-self: center;
  margin-right: 20px;
}

.formRecoveryAccount{
  grid-row-gap: 15px;
}


.backMovil{
  display: none;
}











@media screen and (max-height: 850px) and (max-width: 768px) {

  .AuthComponent{
    overflow-y: scroll;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    padding: 10px;
    position: relative;
    background: #e4e4e4;
  }

  .backMovil{
    display: initial;
    width: 100%;
    height: 35%;
    position: absolute;
    z-index: 0;
    background: linear-gradient(to bottom right, #014c7d, #0198ff);;
    top: 0;
  }

  .AuthContainer{
    grid-template-rows: 10vh 1fr 30px;
    grid-row-gap: 3px;
    position: relative;
    z-index: 2;
  }

  .Auth2fa{
    max-height: 200px;
  }

  .AuthSwitchComponent{
    align-items: center;
    display: grid;
  }

  .AuthC{
    align-self: center;
  }

}


@media screen and (max-height: 750px){

  .footerText{
    display: none;
  }

  .AuthContainer{
    grid-template-rows: 12vh 1fr;
  }

}


















/**/
