.PhoneView{
    width: calc(100% - 40px);
    height: calc(100% - 105px);
    position: absolute;
    top: 65px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 150px 1fr 80px;
    padding: 20px;
}

.SuccessOtherView{
      grid-template-rows: 250px 1fr 80px;
}


.contenidoView, .controlesView{
  width: 100%;
  height: 100%;
}

.contenidoView{
    display: grid;
    justify-items:center;
    position: relative;
}

.successMessage{
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-items:center;
}

#successOperation{
  justify-self: center;
  margin:0 !important;
  font-size: 22px;
  color: #59b200;
}

.contenidoView .labelText {
  font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0 0 15px 0 !important;
  font-size: 17px;
}

.desaparece{
  transition: .3s;
  transform: translateX(15px);
  opacity: 0;
}

.phoneView .containerInputComponent{
      margin-top: 4vh;
      height: 140px;
      grid-template-rows: 30px 1fr 30px;
}

.PassView .containerInputComponent{
      margin-top: 0;
      grid-template-rows: 1fr;
      height: 70px;
}

.PassView{
  width: calc(100% - 40px);
  height: calc(100% - 105px);
  position: absolute;
  top: 65px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 200px 1fr 80px;
  padding: 20px;
}

.MVList{
  width: calc(100% - 40px);
  height: calc(100% - 105px);
  position: absolute;
  top: 65px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 80px;
  padding: 20px;
}

/*.phoneView .AuthInputComp{
    grid-template-rows: 30px 1fr 30px;
}*/

#authReq{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffffc4;
    z-index: 2;
    display: grid;
    justify-items: center;
}



.contListItemMV{
  width: 100%;
  height: 100%;
  max-height: 350px;
  overflow-y: scroll;
  align-self: flex-start;
  padding-top: 60px;
}


.ItemlistViewart.itemActiveListView{
  grid-template-columns: 1fr;
  background: linear-gradient(to bottom left, #2B3742, #060809);
  border-radius: 6px;
}
.ItemlistViewart.itemActiveListView:hover{
  grid-template-columns: 1fr;
  background: linear-gradient(to bottom left, #2B3742, #060809);
  border-radius: 6px;
}

.ItemlistViewart.itemActiveListView span{
    color: #1CA8EB;
}

.ItemlistViewart{
  width: calc(100% - 60px);
  height: 80px;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*grid-template-columns: 60px 1fr;*/
  padding: 0 30px;
}


.ItemlistViewart:hover{
  background: #018eee14;
}


.ItemlistViewart span{
  margin: 0 !important;
  text-align: center;
}

.centerItem{
  display: grid;
  justify-items: center;
  align-items: center;
  }


.contListItemMV::-webkit-scrollbar {
  width: 7px;
}
.contListItemMV::-webkit-scrollbar-thumb {
  background: #475a6836;
}

.findbar{
  position: absolute;
  width: 100%;
  height: 60px;
  background: #efefef;
  top: 0;
  left: 0px;
}


.findbar.classic{

}





.findbar .containerInputComponent{
    height: auto !important;
}















/**/
